<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JMTech</title>
   
</head>
<body>
    
    <h1>JMTech</h1>
    <img src="static/images/welcome.jpeg" alt="">
    <img src="static/images/w1.jpeg" alt="">

    <h2>Produtos Diversos</h2>
    <p>Variedades de eletrônicos e acessórios, com preços excelentes. </p>

    <img src="static/images/p1.jpeg" alt="Produtos">
    <img src="static/images/p2.jpeg" alt="Produtos">
    <img src="static/images/p3.jpeg" alt="Produtos">
    <img src="static/images/p4.jpeg" alt="Produtos">
    <img src="static/images/p5.jpeg" alt="Produtos">
    <img src="static/images/p6.jpeg" alt="Produtos">
    <img src="static/images/p7.jpeg" alt="Produtos">
    <img src="static/images/p8.jpeg" alt="Produtos">


    
</body>
</html>